<div class="login-page">
  <div class="logo-wrap">
    <svg width="60" height="60" viewBox="0 0 64 64">
      <path
        d="M32 4c0 0-6 8-12 16-6 8-6 20 0 28 6 8 12 12 12 12s6-4 12-12c6-8 6-20 0-28S32 4 32 4z"
        fill="#e94b5b"
      />
      <path d="M32 4s6 8 12 16 6 20 0 28c-6 8-12 12-12 12V4z" fill="#2b95c7" />
    </svg>
  </div>

  <div class="login-card">
    <h1>WELCOME BACK</h1>
    <p class="subtitle">Please login to your account</p>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="field">
        <span class="icon user-icon" aria-hidden="true">
          <span class="pi pi-user" style="font-size: 0.9rem"></span>
        </span>
        <input formControlName="username" placeholder="USERNAME" class="underline" />
      </div>
      <div
        *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
        class="field-error"
      >
        *Username is required
      </div>

      <div class="field">
        <span class="icon lock-icon" aria-hidden="true">
          <span class="pi pi-lock" style="font-size: 1rem"></span>
        </span>
        <input
          type="password"
          formControlName="password"
          placeholder="PASSWORD"
          class="underline"
        />
      </div>
      <div
        *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
        class="field-error"
      >
        *Password is required
      </div>

      <div class="row between">
        <label class="remember"><input type="checkbox" /> Remember Me</label>
        <a class="forgot" href="#">Forgot password?</a>
      </div>

      <button class="btn-login" type="submit" [class.disabled]="loginForm.invalid || loading">
        <span class="btn-icon">
          <svg
            width="14"
            height="14"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5 12h11"
              stroke="#fff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M13 6l6 6-6 6"
              stroke="#fff"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
        <span *ngIf="!loading">LOGIN</span>
        <span *ngIf="loading">Logging</span>
      </button>

      <p class="signup">Don't have an account? <a href="#">Sign up.</a></p>
    </form>
  </div>
</div>
<p-toast position="top-right"></p-toast>
